* {
    margin: 0;
    padding: 0;
}
.nav-container {
    position: relative;
    padding: 15px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}
.first-container {
    display: inline-block;
    padding: 5px;
    letter-spacing: 5px;
}
.second-container {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 5px;
}
.item1, .item2, .item3 {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    letter-spacing: 5px;
}
.bg-container {
    width: 100%;
    height: 600px;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg-item1 {
    position: absolute;
    top: 250px;
    left: 42%;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.532);
    color: antiquewhite;
    padding: 5px;
}
.bg-item2 {
    position: absolute;
    top: 260px;
    left: 48%;
    font-size: xx-large;
    color: antiquewhite;
    padding: 5px;
    letter-spacing: 5px;
}
.project-container {
    padding-left: 20px;
    margin-top: 50px;
    font-size: 25px;
}
.image-container {
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-left: 40px;
}
.summerhouse, .brickhouse, .renovated, .barnhouse {
    width: 337px;
    height: 230px;
    margin: 10px;
    display: inline-block;
    position: relative;
}
p {
    position: absolute;
    top: 0;
    background-color: black;
    color: antiquewhite;
    padding: 5px;
}