body {
    background: #f2f2f2;
}

h1 {
    color: white;
    background: blue;
}

p {
    color: black;
    background: yellow;
}

.box {
    color: white;
    background: green;
}
